# Dependencies
node_modules/
*/node_modules/
.pnp
.pnp.js
server_app/logs/

# Test Coverage
coverage/
*/coverage/
*.lcov
.nyc_output
lcov-report/
*/lcov-report/
/server_app/coverage/
/client_app/coverage/
/restaurant_app/coverage/
/admin_app/coverage/
/drone_manage/coverage/

# Kubernetes Secrets
k8s/secret-local.yaml
k8s/secret-aws.yaml
k8s/secret-*.yaml
!k8s/secret.yaml

# Sensitive configs
*.pem
*.key
kubeconfig
