apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: foodfast-server-hpa
  namespace: foodfast
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: foodfast-server
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 20
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 50
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: foodfast-client-hpa
  namespace: foodfast
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: foodfast-client
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 20
