apiVersion: apps/v1
kind: Deployment
metadata:
  name: foodfast-admin
  namespace: foodfast
  labels:
    app: foodfast-admin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: foodfast-admin
  template:
    metadata:
      labels:
        app: foodfast-admin
    spec:
      containers:
      - name: admin
        image: ghcr.io/OWNER/foodfast-admin:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
          name: http
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: nginx.conf
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config-admin
      imagePullSecrets:
      - name: ghcr-secret
---
apiVersion: v1
kind: Service
metadata:
  name: foodfast-admin
  namespace: foodfast
  labels:
    app: foodfast-admin
spec:
  type: NodePort
  ports:
  - port: 3001
    targetPort: 80
    nodePort: 30002
    protocol: TCP
    name: http
  selector:
    app: foodfast-admin
