apiVersion: apps/v1
kind: Deployment
metadata:
  name: foodfast-client
  namespace: foodfast
  labels:
    app: foodfast-client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: foodfast-client
  template:
    metadata:
      labels:
        app: foodfast-client
    spec:
      containers:
      - name: client
        image: ghcr.io/OWNER/foodfast-client:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
          name: http
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: nginx.conf
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config-client
      imagePullSecrets:
      - name: ghcr-secret
---
apiVersion: v1
kind: Service
metadata:
  name: foodfast-client
  namespace: foodfast
  labels:
    app: foodfast-client
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 80
    nodePort: 30001
    protocol: TCP
    name: http
  selector:
    app: foodfast-client
