apiVersion: apps/v1
kind: Deployment
metadata:
  name: foodfast-restaurant
  namespace: foodfast
  labels:
    app: foodfast-restaurant
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 0
  selector:
    matchLabels:
      app: foodfast-restaurant
  template:
    metadata:
      labels:
        app: foodfast-restaurant
    spec:
      containers:
      - name: restaurant
        image: ghcr.io/OWNER/foodfast-restaurant:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
          name: http
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: nginx.conf
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config-restaurant
      imagePullSecrets:
      - name: ghcr-secret
---
apiVersion: v1
kind: Service
metadata:
  name: foodfast-restaurant
  namespace: foodfast
  labels:
    app: foodfast-restaurant
spec:
  type: NodePort
  ports:
  - port: 3002
    targetPort: 80
    nodePort: 30003
    protocol: TCP
    name: http
  selector:
    app: foodfast-restaurant
